##Exp-3 Study of tuple in python

In [ ]:
# Viraj Deshmukh
#PRN: - 25070123123

In [1]:
tpl=(2,"Viraj",True)
print(tpl)

(2, 'Viraj', True)

In [ ]:
tpl1=("apple","banana","orange")
tpl1[1]="kiwi"
print(tpl1)

TypeError: 'tuple' object does not support item assignment

In [ ]:
tpl2=("apple",2,True,"orange","kiwi")
print(tpl2[:3])

('apple', 2, True)

In [ ]:
tpl3=(10,)*5
print(tpl3)

(10, 10, 10, 10, 10)

In [ ]:
tpl4=(10)*5
print(tpl4)

50

In [ ]:
list=["symbiosis",]*5
print(list)

['symbiosis', 'symbiosis', 'symbiosis', 'symbiosis', 'symbiosis']

In [ ]:
tpl5=("apple","banana","orange")
print("before:",id(tpl5))
tpl5+=tpl6
print(tpl5)
print("after:",id(tpl5))

before: 133948306155776
('apple', 'banana', 'orange', 'mango')
after: 133948303631568

In [ ]:
tpl5=["apple","banana","orange"]
print("before:",id(tpl5))
tpl6=["mango",]
tpl5+=tpl6
print(tpl5)
print("after:",id(tpl5))

before: 133948305192384
['apple', 'banana', 'orange', 'mango']
after: 133948305192384

In [ ]:
marks = (78,85,90,66,88)
print(max(marks))
print(min(marks))
print(sum(marks))
print(len(marks))
print(sum(marks)/len(marks))

print(sorted(marks))

90
66
407
5
81.4
[66, 78, 85, 88, 90]

In [ ]:
# Result analysis
result=("Maths",82,"A")

subject, marks, grade = result
print("subject:",subject)
print("marks:",marks)
print("grade:",grade)


if marks >= 75:
    print("Distincttion")

subject: Maths
marks: 82
grade: A
Distincttion

In [ ]:
# Monitoring Attendence
attendence = ("P","A","P","P","A","P")

print("Total present:",attendence.count("P"))
print("Total absent:",attendence.count("A"))

if "A" in attendence:
 print("Employee was absent at least once")

Total present: 4
Total absent: 2
Employee was absent at least once